@model IEnumerable<FitMatch_BackEnd.Models.ClassType>

@{
    ViewData["Title"] = "List";
}


<style>
    span {
        display: inline-block;
        white-space: nowrap;
    }

    .fixed-image {
        width: 100px;
        /* 寬度固定為 100 像素 */
        height: 100px;
        /* 高度固定為 100 像素 */
        object-fit: cover;
        /* 確保圖片的長寬比保持不變，超出部分將被裁剪 */
    }
</style>



<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4 align-items-center">
            <h4 class="m-auto">課程列表</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- 篩選列開始 -->
    <div class="container-fluid pt-4 px-4">
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0 rounded">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- 將所有的選項和搜索功能都放在同一個form中 -->
                    <form method="post" asp-action="List" class="container-fluid d-flex flex-wrap justify-content-between align-items-center">


                        <!-- 上架狀態選擇 -->
                        <div class="d-flex align-items-center me-3">
                            <label for="statusType" class="me-2">上架狀態:</label>
                            <select id="statusType" name="StatusFilter" class="form-select" style="background-color: #fff;" aria-label="上架狀態">
                                <option value="" selected disabled hidden>請選擇狀態</option>
                                <option value="">無</option>
                                <option value="上架">上架</option>
                                <option value="下架">下架</option>
                                <option value="待審核">待審核</option>
                            </select>
                        </div>

                        <!-- 搜尋部分 -->
                        <div class="d-flex align-items-center ml-auto">
                            <div class="me-2">
                                <input name="txtKeyword" class="form-control" type="text" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字" id="searchInput">
                            </div>
                            <button type="submit" class="btn btn-primary me-2">
                                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                            </button>
                            <button type="reset" class="btn btn-outline-success">清空</button>
                        </div>

                    </form>
                </div>
            </div>
        </nav>
    </div>

    <!-- 篩選列結束 -->
    <!-- 管理列表開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">課程列表</h5>
                <a class="btn btn-primary  custom-purple" asp-action="Create">新增課程</a>
            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <thead style="background-color: #74ffba;">
                        <tr class="text-dark">
                            <th scope="col">課程編號</th>
                            <th scope="col">課程名稱</th>
                            <th scope="col">封面</th>
                            <th scope="col">狀態</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <tr class="data-row">
                                    <td>@Html.DisplayFor(modelItem => item.ClassTypeId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
                                    <td>
                                        <img src="~/img/課程/@item.Photo" width="110" height="70" />
                                    </td>
                                    <td>@(item.Status == true ? "上架" : (item.Status == false ? "下架" : "待審核"))</td>
                                    <td>
                                        <a class="btn btn-secondary" href="@Url.Action("Edit", "ClassType", new { id = item.ClassTypeId })"
                                           style="background-color: aliceblue; color: black;">
                                            <i class="fa-regular fa-pen-to-square">編輯</i>
                                        </a>
                                        <a class="btn btn-primary" href="@Url.Action("Delete", "ClassType", new { id = item.ClassTypeId })">
                                            <i class="fa-solid fa-trash-can">刪除</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="d-flex justify-content-between pt-4" style="margin-left: 3px;margin-top: 10px;">
                <!-- 全選區塊開始 -->
                <div class="d-flex justify-content-between">
                    <div class="form-check d-flex align-items-center">
                    </div>
                    <!-- Pagination goes here -->
                </div>
                <!-- 全選區塊END-->
                <!-- 換頁區塊開始 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link previous-page" data-page-type="previous" href="@Url.Action("List", new { currentPage = ViewBag.CurrentPage - 1 })">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" id="@("page-" + i)" data-page="@i" data-page-type="number" href="@Url.Action("List", new { currentPage = i })">
                                    @i
                                </a>
                            </li>
                        }

                        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                            <a class="page-link next-page" data-page-type="next" href="@Url.Action("List", new { currentPage = ViewBag.CurrentPage + 1 })">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- 換頁區塊END -->
            </div>
        </div>
    </div>
</div>

