@model IEnumerable<FitMatch_BackEnd.Models.Gym>

@{
    ViewData["Title"] = "Gym";
}
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">場館管理</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- 篩選列開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <form method="post" asp-action="Gym">

                <div class="col">
                    <div class="bg-white rounded h-100 p-4">
                        <div class="row pr-1">

                            <!-- 第一區塊 -->
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                區域:
                                <div class="mx-1 flex-grow-1 ps-1">
                                    <select class="form-select" name="RegionFilter"
                                            aria-label="區域">
                                        <option selected disabled hidden value="">請選擇區域</option>
                                        <option value="台北">台北</option>
                                        <option value="新北">新北</option>
                                        <option value="台中">台中</option>
                                        <option value="台南">台南</option>
                                        <option value="屏東">屏東</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 第二區塊 -->
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                上架狀態:
                                <div class="mx-1 flex-grow-1 ps-2">
                                    <select class="form-select" name="StatusFilter"
                                            aria-label="上架狀態">
                                        <option selected disabled hidden value="">請選擇狀態</option>
                                        <option value="上架">上架</option>
                                        <option value="下架">下架</option>
                                        <option value="待審核">待審核</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 搜尋部分 -->
                            <div class="col-4 d-flex align-items-center justify-content-end">
                                <div class="col-1 p-0">
                                    搜尋:
                                </div>
                                <div class="col-9 ps-2">
                                    <div class="mx-10 flex-grow-1">
                                        <input class="form-control" type="text" name="txtKeyword" placeholder="請輸入關鍵字"
                                               aria-label="請輸入關鍵字" id="searchInput">
                                    </div>
                                </div>
                                <div class="col-1 d-flex align-items-center p-0 ps-2">
                                    <button type="submit" class="btn">
                                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- 清空區塊 -->
                            <div class="col-1">
                                <button type="reset" class="btn btn-outline-success" id="resetButton">
                                    清空
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- 篩選列結束 -->
    <!-- 管理列表開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">場館列表</h5>
                <a class="btn btn-primary custom-purple" asp-action="GymCreate">新增場館</a>
            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <thead style="background-color: #74ffba;">
                        <tr class="text-dark">
                            <th scope="col">場館編號</th>
                            <th scope="col">場館名稱</th>
                            <th scope="col">審核狀態</th>
                            <th scope="col">地址</th>
                            <th scope="col">營業時間</th>
                            <th scope="col">結束時間</th>
                            <th scope="col">封面</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;

                                <tr class="data-row">
                                    <td>@Html.DisplayFor(modelItem => item.GymId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GymName)</td>
                                    <td>@(item.Approved == true ? "上架" : (item.Approved == false ? "下架" : "待審核"))</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td>@(item.OpentimeStart.HasValue ? item.OpentimeStart.Value.ToString("HH:mm") : "未設定")</td>
                                    <td>@(item.OpentimeEnd.HasValue ? item.OpentimeEnd.Value.ToString("HH:mm") : "未設定")</td>
                                    <td><img src="@("/img/gym/" + item.Photo)" width="110" height="70" /></td>
                                    <td>
                                        <a class="btn btn-secondary" href="@Url.Action("GymEdit", "Gym", new { id = item.GymId })"
                                           style="background-color: aliceblue; color: black;">
                                            <i class="fa-regular fa-pen-to-square">編輯</i>
                                        </a>
                                        <a class="btn btn-primary" href="@Url.Action("GymDelete", "Gym", new { id = item.GymId })">
                                            <i class="fa-solid fa-trash-can">刪除</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- 換頁區塊 -->
            <div class="d-flex justify-content-end pt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link previous-page" data-page-type="previous" href="@Url.Action("Gym", new { currentPage = ViewBag.CurrentPage - 1 })">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" id="@("page-" + i)" data-page="@i" data-page-type="number" href="@Url.Action("Gym", new { currentPage = i })">
                                    @i
                                </a>
                            </li>
                        }
                        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                            <a class="page-link next-page" data-page-type="next" href="@Url.Action("Gym", new { currentPage = ViewBag.CurrentPage + 1 })">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<script>
    //清空功能
    document.addEventListener("DOMContentLoaded", function () {
        const resetButton = document.getElementById("resetButton");
        resetButton.addEventListener("click", function (e) {
            e.preventDefault(); // 防止默認的重置行為
            // 重新導航到初始URL
            window.location.href = window.location.pathname;
        });
    });
</script>
