@model FitMatch_BackEnd.Models.Gym

@{
    ViewData["Title"] = "GymCreate";
}


<style>
    /* 上傳照片 */
    .upload-container {
        width: 100%;
        min-height: 400px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background-color: #E0E0E0;
    }

    .label-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    .icon {
        font-size: 2em;
    }

    .upload-input {
        display: none;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">場館管理 / 新增場館</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <form asp-action="GymCreate" enctype="multipart/form-data" class="" style="padding: 50px;">


                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="GymName" for="inputname"  class="col-form-label">場館名稱</label>
                            </div>
                            <div class="col-10">
                                <input asp-for="GymName" data-validate="gymName" data-error-message="場館名稱是必填的"
                                       class="form-control mb-3" type="text" placeholder="請輸入場館名稱" aria-label="請輸入場館名稱" id="inputGymName">
                                <span asp-validation-for="GymName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="Phone" for="inputname" class="col-form-label">場館電話</label>

                            </div>
                            <div class="col-10">
                                <input asp-for="Phone" data-validate="phone" data-error-message="請輸入正確的電話號碼格式"
                                       class="form-control mb-3" type="text" placeholder="請輸入場館電話" aria-label="請輸入場館電話" id="inputPhone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="Address" for="inputname" class="col-form-label">場館地址</label>

                            </div>
                            <div class="col-10">
                                <input asp-for="Address" data-validate="address" data-error-message="地址是必填的"
                                       class="form-control mb-3" type="text" placeholder="請輸入場館地址" aria-label="請輸入場館地址" id="inputAddress">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label for="FileToUpload" class="col-form-label">封面照片</label>
                            </div>
                            <div class="col-10">
                                <div class="upload-container">
                                    <label for="FileToUpload" class="label-upload">
                                        <div class="icon">+</div>
                                        <input asp-for="FileToUpload" type="file" id="FileToUpload" class="upload-input" accept="image/*">
                                    </label>
                                    <img id="preview" src="" alt="Image Preview">
                                </div>
                            </div>
                        </div>


                        <fieldset class="col-sm-12 col-xl-6 mb-3 d-flex">
                            <div class="col-2">
                                <legend class="col-form-label pt-0 pe-4">顯示狀態</legend>
                            </div>
                            <div class="col-10 d-flex justify-content-start">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Approved" id="gridRadios1" value="true" @(Model.Approved == true ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios1">
                                        上架
                                    </label>
                                </div>
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Approved" id="gridRadios2" value="false" @(Model.Approved == false ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios2">
                                        下架
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Approved" id="gridRadios3" value="" @(Model.Approved == null ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios3">
                                        待審核
                                    </label>
                                </div>
                            </div>
                        </fieldset>



                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label for="inputname" class="col-form-label">營業時間</label>
                            </div>
                            <div class="col-10 d-flex">
                                @Html.DropDownList("startTime", new SelectList(GetTimeOptions(7, 21), "Value", "Text"), new { @class = "form-select mb-3 me-4", aria_label = "Start time", data_validate = "startTime", data_error_message = "開始時間必須早於結束時間" })
                                <span id="startTimeError" class="text-danger"></span>
                                @Html.DropDownList("endTime", new SelectList(GetTimeOptions(7, 23), "Value", "Text", 23), new { @class = "form-select mb-3 ms-4", aria_label = "End time", data_validate = "endTime", data_error_message = "結束時間必須晚於開始時間" })
                                <span id="endTimeError" class="text-danger"></span>
                            </div>
                        </div>



                        <!-- 場館簡介部分 -->
                        <div class="col-sm-12 col-xl-6 mb-3 d-flex">
                            <div class="col-2">
                                <label for="floatingTextarea" class="col-form-label">場館簡介</label>
                            </div>
                            <div class="col-10">
                                <textarea class="form-control" name="GymDescription" id="floatingTextarea" data-validate="gymDescription" data-error-message="場館簡介是必填的" style="height: 150px;" placeholder="請輸入場館簡介"></textarea>
                                <span asp-validation-for="GymDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 pt-5 d-flex">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary" style="margin-right:130px">新增</button>  
                                <a asp-action="Gym" class="btn btn-outline-success">取消</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Form End -->
 
</div>
<!-- Content End -->

<script>
    const uploadInput = document.getElementById('FileToUpload');
    const preview = document.getElementById('preview');
    const icon = document.querySelector('.icon');

    uploadInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();

            reader.addEventListener('load', function () {
                preview.src = this.result;
                preview.style.display = 'block';
                icon.style.display = 'none';
            });

            reader.readAsDataURL(file);
        }
    });

    //以下是表單驗證
    //以下是表單驗證
    //以下是表單驗證

    // 顯示錯誤訊息
    function showErrorMessage(element, message) {
        let errorMessageElement = element.parentNode.querySelector('.error-message');
        if (!errorMessageElement) {
            errorMessageElement = document.createElement('span');
            errorMessageElement.className = 'error-message text-danger';
            element.parentNode.appendChild(errorMessageElement);
        }
        errorMessageElement.textContent = message;
    }

    // 清除錯誤訊息
    function clearErrorMessage(element) {
        const errorMessageElement = element.parentNode.querySelector('.error-message');
        if (errorMessageElement) {
            errorMessageElement.remove();
        }
    }


    // 驗證函數
    function validate(element) {
        const validateRule = element.getAttribute('data-validate');
        const errorMessage = element.getAttribute('data-error-message');

        if (validateRule === 'required') {
            if (element.value === '') {
                showErrorMessage(element, errorMessage);
                return false;
            }
        }

        if (validateRule === 'gymName') {
            if (element.value.length < 5 || element.value.length > 50) {
                showErrorMessage(element, "場館名稱應在5到50個字之間");
                return false;
            }
        }

        if (validateRule === 'phone') {
            const regex = /^[0-9]{2}-[0-9]{7}$/;
            if (!regex.test(element.value)) {
                showErrorMessage(element, "電話號碼格式不正確 正確格式為##-#######");
                return false;
            }
        }

        if (validateRule === 'address') {
            if (element.value.length < 10 || element.value.length > 100) {
                showErrorMessage(element, "地址應在10到100個字之間");
                return false;
            }
        }

        if (validateRule === 'gymDescription') {
            if (element.value.length < 20 || element.value.length > 500) {
                showErrorMessage(element, "場館簡介是必填的，並且長度不應超過500個字");
                return false;
            }
        }

        if (validateRule === 'startTime' || validateRule === 'endTime') {
            const startTimeElement = document.querySelector('[data-validate="startTime"]');
            const endTimeElement = document.querySelector('[data-validate="endTime"]');
            const startTime = startTimeElement.value;
            const endTime = endTimeElement.value;

            if (parseInt(startTime) >= parseInt(endTime)) {
                showErrorMessage(startTimeElement, "開始時間必須早於結束時間");
                showErrorMessage(endTimeElement, "結束時間必須晚於開始時間");
                return false;
            }
        }


        clearErrorMessage(element);
        return true;
    }

    // 在輸入或失去焦點時觸發驗證
    const elementsToValidate = document.querySelectorAll('[data-validate]');
    elementsToValidate.forEach(function (element) {
        element.addEventListener('keyup', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
        element.addEventListener('blur', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
    });

    // 清除後端錯誤訊息
    function clearBackendErrorMessage(element) {
        const backendErrorMessageElement = element.parentNode.querySelector('.text-danger');
        if (backendErrorMessageElement) {
            backendErrorMessageElement.textContent = '';
        }
    }

    //(時間)下拉選單改變時觸發驗證
    document.addEventListener("DOMContentLoaded", function () {
        const startTimeElement = document.querySelector('[data-validate="startTime"]');
        const endTimeElement = document.querySelector('[data-validate="endTime"]');

        startTimeElement.addEventListener('change', function () {
            validate(this);
        });

        endTimeElement.addEventListener('change', function () {
            validate(this);
        });
    });


</script>


@*生成時間選項的簡單示例函數*@
@functions {
    public List<SelectListItem> GetTimeOptions(int startHour, int endHour)
    {
        var timeOptions = new List<SelectListItem>();

        for (int hour = startHour; hour <= endHour; hour++)
        {
            timeOptions.Add(new SelectListItem { Value = hour.ToString(), Text = $"{hour:00}:00" });
        }

        return timeOptions;
    }
}
