@model FitMatch_BackEnd.Models.Gym

@{
    ViewData["Title"] = "GymEdit";
}
<link rel="stylesheet" href="css/personnel/revise.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    /* 上傳照片 */
    .upload-container {
        width: 100%;
        min-height: 400px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background-color: #E0E0E0;
    }

    .label-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    .icon {
        font-size: 2em;
    }

    .upload-input {
        display: none;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

   
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <form asp-action="GymEdit" method="post" enctype="multipart/form-data" id="GymEditForm" style="padding: 50px;">

                        <input asp-for="GymId" type="hidden" />

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="GymId" class="col-form-label" t1>場館編號</label>
                            </div>
                            <div class="col-10">
                                <label asp-for="GymId" class="col-form-label  t1" value="MemberId"> @Model.GymId</label>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="GymName" class="col-form-label" t1>場館名稱</label>
                            </div>
                            <div class="col-10">
                                <input asp-for="GymName" data-validate="gymName" data-error-message="場館名稱是必填的" class="form-control mb-3" type="text" value="@Model.GymName"
                                       id="inputGymName">
                                <span asp-validation-for="GymName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="Phone" class="col-form-label">場館電話</label>
                            </div>
                            <div class="col-10">
                                <input asp-for="Phone" data-validate="phone" data-error-message="請輸入正確的電話號碼格式" class="form-control mb-3" type="text" value="@Model.Phone"
                                       id="inputPhone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="Address" class="col-form-label">場館地址</label>
                            </div>
                            <div class="col-10">
                                <input asp-for="Address" data-validate="address" data-error-message="地址是必填的" class="form-control mb-3" type="text" value="@Model.Address"
                                       id="inputAddress">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- 現有照片預覽 -->
                        <div class="col-sm-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center">
                                    現有封面照片
                                </div>
                                <div class="card-body d-flex justify-content-center">
                                <img id="existingPreview" src="data:image/jpeg;base64,@(Model.Photo)" alt="Existing Image Preview" width="330" height="210">
                                </div>
                            </div>
                        </div>

                        <!-- 新照片上傳和預覽 -->
                        <div class="col-sm-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center">
                                    新封面照片
                                </div>
                                <div class="card-body d-flex flex-column align-items-center">
                                    <!-- 預覽新上傳的照片 -->
                                    <div class="d-flex justify-content-center">
                                        <img id="newPreview" src="" alt="New Image Preview" style="display:none;" width="330" height="210">
                                    </div>
                                    <!-- 上傳按鈕 -->
                                    <div class="d-flex justify-content-center mt-3 w-100">
                                        <input type="file" id="FileToUpload" name="FileToUpload" accept="image/*" onchange="previewNewImage(event)">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <fieldset class="col-sm-12 col-xl-6 mb-3 d-flex">
                            <div class="col-2">
                                <legend class="col-form-label pt-0 pe-4">顯示狀態</legend>
                            </div>
                            <div class="col-10 d-flex justify-content-start">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Approved" id="gridRadios1" value="true" @(Model.Approved == true ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios1">
                                        上架
                                    </label>
                                </div>
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Approved" id="gridRadios2" value="false" @(Model.Approved == false ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios2">
                                        下架
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Approved" id="gridRadios3" value="" @(Model.Approved == null ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios3">
                                        待審核
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label class="col-form-label">營業時間</label>
                            </div>
                            <div class="col-10 d-flex">
                                <select class="form-select mb-3 me-4" aria-label="Default select example" name="OpentimeStart">
                                    @for (int i = 0; i <= 23; i++)
                                    {
                                        if (Model.OpentimeStart?.Hour == i)
                                        {
                                            <option value="@i" selected>@(i.ToString("00") + ":00")</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@(i.ToString("00") + ":00")</option>
                                        }
                                    }
                                </select>
                                <select class="form-select mb-3 ms-4" aria-label="Default select example" name="OpentimeEnd">
                                    @for (int i = 0; i <= 23; i++)
                                    {
                                        if (Model.OpentimeEnd?.Hour == i)
                                        {
                                            <option value="@i" selected>@(i.ToString("00") + ":00")</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@(i.ToString("00") + ":00")</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex">
                            <div class="col-2">
                                <legend class="col-form-label pt-3 pe-4">場館簡介</legend>
                            </div>
                            <div class="col-10 form-floating pt-1">
                                <textarea asp-for="GymDescription" class="form-control" placeholder="請輸入場館簡介"
                                          id="floatingTextarea" data-validate="gymDescription" data-error-message="場館簡介是必填的" style="height: 150px;"></textarea>
                                <span asp-validation-for="GymDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6 pt-5 d-flex" style="margin-left: 110px;">

                            <div class="col-6 text-center">
                                <button type="submit" class="btn btn-primary ">修改</button>
                            </div>
                            <div class="col-6 text-start">
                                <a asp-action="Gym" class="btn btn-outline-success">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Form End -->


<script>
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '場館管理 / 編輯場館';
    });
    //
    function previewNewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('newPreview');
            output.src = reader.result;
            output.style.display = 'block'; // 顯示新的預覽圖片
        }
        reader.readAsDataURL(event.target.files[0]);
    }

    // 確認按鈕的驗證

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("GymEditForm");

        form.addEventListener("submit", async function (event) {
            event.preventDefault();

            // Validate all input fields
            let allValid = true;
            const elementsToValidate = document.querySelectorAll('[data-validate]');
            elementsToValidate.forEach(function (element) {
                if (!validate(element)) {
                    allValid = false;
                }
            });

            // If any validation failed, stop the form submission
            if (!allValid) {
                await Swal.fire({
                    icon: "error",
                    title: "驗證錯誤",
                    text: "請確認欄位是否符合正確格式",
                    confirmButtonText: "OK"
                });
                return;
            }

            // Perform form submission using AJAX or fetch
            try {
                const response = await fetch('/Gym/GymEdit', {
                    method: "POST",
                    body: new FormData(form)
                });

                if (response.ok) {
                    // Show success message with confirm button
                    await Swal.fire({
                        icon: "success",
                        title: "修改成功",
                        text: "已成功修改場館資料",
                        showConfirmButton: true,
                        confirmButtonText: "確認"
                    }).then(() => {
                        window.location.href = "/Gym/Gym";
                    });
                } else {
                    throw new Error("表單提交失敗");
                }
            } catch (error) {
                // Show error message
                await Swal.fire({
                    icon: "error",
                    title: "錯誤",
                    text: error.message,
                    confirmButtonText: "OK"
                });
            }
        });
    });

    //以下是表單驗證
    //以下是表單驗證
    //以下是表單驗證

    // 顯示錯誤訊息
    function showErrorMessage(element, message) {
        let errorMessageElement = element.parentNode.querySelector('.error-message');
        if (!errorMessageElement) {
            errorMessageElement = document.createElement('span');
            errorMessageElement.className = 'error-message text-danger';
            element.parentNode.appendChild(errorMessageElement);
        }
        errorMessageElement.textContent = message;
    }

    // 清除錯誤訊息
    function clearErrorMessage(element) {
        const errorMessageElement = element.parentNode.querySelector('.error-message');
        if (errorMessageElement) {
            errorMessageElement.remove();
        }
    }


    // 驗證函數
    function validate(element) {
        const validateRule = element.getAttribute('data-validate');
        const errorMessage = element.getAttribute('data-error-message');

        if (validateRule === 'required') {
            if (element.value === '') {
                showErrorMessage(element, errorMessage);
                return false;
            }
        }

        if (validateRule === 'gymName') {
            if (element.value.length < 5 || element.value.length > 50) {
                showErrorMessage(element, "場館名稱應在5到50個字之間");
                return false;
            }
        }

        if (validateRule === 'phone') {
            const regex = /^[0-9]{2}-[0-9]{7}$/;
            if (!regex.test(element.value)) {
                showErrorMessage(element, "電話號碼格式不正確 正確格式為##-#######(前兩碼為區碼)");
                return false;
            }
        }

        if (validateRule === 'address') {
            if (element.value.length < 10 || element.value.length > 100) {
                showErrorMessage(element, "地址應在10到100個字之間");
                return false;
            }
        }

        if (validateRule === 'gymDescription') {
            if (element.value.length < 20 || element.value.length > 500) {
                showErrorMessage(element, "場館簡介是必填的，並且長度不應超過500個字");
                return false;
            }
        }

        if (validateRule === 'startTime' || validateRule === 'endTime') {
            const startTimeElement = document.querySelector('[data-validate="startTime"]');
            const endTimeElement = document.querySelector('[data-validate="endTime"]');
            const startTime = startTimeElement.value;
            const endTime = endTimeElement.value;

            if (parseInt(startTime) >= parseInt(endTime)) {
                showErrorMessage(startTimeElement, "開始時間必須早於結束時間");
                showErrorMessage(endTimeElement, "結束時間必須晚於開始時間");
                return false;
            }
        }


        clearErrorMessage(element);
        return true;
    }

    // 在輸入或失去焦點時觸發驗證
    const elementsToValidate = document.querySelectorAll('[data-validate]');
    elementsToValidate.forEach(function (element) {
        element.addEventListener('keyup', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
        element.addEventListener('blur', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
    });

    // 清除後端錯誤訊息
    function clearBackendErrorMessage(element) {
        const backendErrorMessageElement = element.parentNode.querySelector('.text-danger');
        if (backendErrorMessageElement) {
            backendErrorMessageElement.textContent = '';
        }
    }

    //(時間)下拉選單改變時觸發驗證
    document.addEventListener("DOMContentLoaded", function () {
        const startTimeElement = document.querySelector('[data-validate="startTime"]');
        const endTimeElement = document.querySelector('[data-validate="endTime"]');

        startTimeElement.addEventListener('change', function () {
            validate(this);
        });

        endTimeElement.addEventListener('change', function () {
            validate(this);
        });
    });

</script>
