@model FitMatch_BackEnd.Models.Robot

@{
    ViewData["Title"] = "RobotEdit";
}
<style>
    /* 上傳照片 */
    .upload-container {
        width: 100%;
        min-height: 400px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background-color: #E0E0E0;
    }

    .label-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    .icon {
        font-size: 2em;
    }

    .upload-input {
        display: none;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-secondary rounded h-100 p-4">



                    <form asp-controller="Robot" asp-action="RobotEdit" method="post" class="" style="padding: 50px;">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="RobotId" value="@Model.RobotId" />    @*  這一句是關鍵：抓到第二個HttpPost ID ，然後可以成功做修改update的功能 *@


                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="RobotId" class="col-form-label" t1>機器人編號</label>
                            </div>
                            <div class="col-10">
                                <label asp-for="RobotId" name="RobotId" class="col-form-label  t1">@Model.RobotId</label>
                            </div>
                        </div>



                        @* ------radio start------ *@
                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="Type" class="col-form-label pt-0 pe-4">問題種類</label>
                            </div>
                            <div class="col-4">


                                <label onclick="setSelectedRadio(this)">
                                    <input class="form-check-input" type="radio" name="Type" value="教練" checked="@IsTypeSelected("教練")" /> 教練
                                </label>
                                <label onclick="setSelectedRadio(this)">
                                    <input class="form-check-input" type="radio" name="Type" value="媒合" checked="@IsTypeSelected("媒合")" /> 媒合
                                </label>
                                <label onclick="setSelectedRadio(this)">
                                    <input class="form-check-input" type="radio" name="Type" value="課程" checked="@IsTypeSelected("課程")" /> 課程
                                </label>

                                <label onclick="setSelectedRadio(this)">
                                    <input class="form-check-input" type="radio" name="Type" value="訂單" checked="@IsTypeSelected("訂單")" /> 訂單
                                </label>

                                <label onclick="setSelectedRadio(this)">
                                    <input class="form-check-input" type="radio" name="Type" value="其他" checked="@IsTypeSelected("其他")" /> 其他
                                </label>
                            </div>
                        </div>


                        @* 將資料庫的類型帶到這個資料中顯示的function *@
                        @functions {
                            bool IsTypeSelected(string type)
                            {
                                return type == Model.Type;
                            }
                        }



                        @* ------radio end------ *@




                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="DefaultQuestion" for="inputname" class="col-form-label">問  題</label>
                            </div>
                            <div class="col-4">
                                <textarea asp-for="DefaultQuestion" class="form-control mb-3" type="text"
                                          id="inputname" style="height: 150px;"></textarea>
                                <span asp-validation-for="DefaultQuestion" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="DefaultResponse" for="inputname" class="col-form-label">答  覆</label>
                            </div>
                            <div class="col-4">
                                <textarea asp-for="DefaultResponse" class="form-control mb-3" type="text"
                                          id="inputname" style="height: 150px;"></textarea>
                                <span asp-validation-for="DefaultResponse" class="text-danger"></span>
                            </div>
                        </div>








                        <div class="col-8 d-flex text-center mx-auto pt-5">
                            <button type="submit" class="btn btn-primary me-5">修改</button>
                            <a asp-action="Robot" class="btn btn-outline-success ">取消</a>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
    <!-- Form End -->


<script>
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '機器人訊息管理管理 / 編輯訊息';
    });
    //
    const uploadInput = document.getElementById('upload');
    const preview = document.getElementById('preview');
    const icon = document.querySelector('.icon');

    uploadInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();

            reader.addEventListener('load', function () {
                preview.src = this.result;
                preview.style.display = 'block';
                icon.style.display = 'none';
            });

            reader.readAsDataURL(file);
        }
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}