@model IEnumerable<FitMatch_BackEnd.Models.Robot>

@{
    ViewData["Title"] = "Robot";
}


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">機器人管理</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- system adminstractor Navbar start-->
    <div class="container-fluid pt-4 px-4">

     
        <div class="row g-4">

            <div class="col">
                <div class="bg-white rounded h-100 p-4">
                    <form id="searchForm">
                        <div class="row pr-1">
                            <!-- 第一區塊 -->
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                問題類型:
                                <div class="mx-1 flex-grow-1 ps-1">

                                    <select class="form-select" name="Type"
                                            aria-label="">
                                        <option selected disabled value="">請選擇</option>
                                        @foreach (var Option in new List<string> { "系統預設", "媒合", "教練", "課程", "訂單", "其他" })
                                        {
                                            if (ViewBag.Type == Option)
                                            {
                                                <option value="@Option" selected>Option</option>
                                            }
                                            else
                                            {
                                                <option value="@Option">@Option</option>
                                            }
                                        }
                                    </select>





                                    @*<select class="form-select" id="Type"
                                            aria-label="Floating label select example">
                                        <option selected disabled>請選擇</option>
                                        <option value="1">系統預設</option>
                                        <option value="2">媒合</option>
                                        <option value="3">教練</option>
                                        <option value="4">課程</option>
                                        <option value="5">訂單</option>
                                        <option value="6">其他</option>

                                    </select>*@
                                </div>
                            </div>

                            <!-- 第四區塊 -->
                            <div class="col-4 d-flex align-items-center justify-content-end">

                                <div class="col-1 p-0">
                                    搜尋:
                                </div>
                                <div class="col-9 ps-2">
                                    <div class="mx-10 flex-grow-1">
                                        <input class=" form-control" type="text" placeholder="請輸入關鍵字"
                                               aria-label="請輸入關鍵字" id="searchInput">
                                    </div>
                                </div>
                                <div class="col-1 d-flex align-items-center p-0 ps-2">
                                    <a href="">
                                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                    </a>
                                </div>

                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>
        </div>
      

    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center  rounded p-4">

            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">機器人問題管理列表</h5>
                              
                <a href="@Url.Action("RobotCreate", "Robot" )" class="btn btn-primary  custom-purple">新增問題</a>
            </div>

            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0 text-center">
                    <thead style="background-color: #74ffba;">
                        <tr class="text-dark">
                            
                            <th scope="col">機器人編號</th>
                            <th scope="col">問題類型</th>
                            <th scope="col">問題</th>
                            <th scope="col">答覆</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.RobotId)</td>       @* id *@
                                <td>@Html.DisplayFor(modelItem => item.Type)</td>          @* 判斷&顯示問題 *@
                                <td>
                                    @if (item.DefaultQuestion != null && item.DefaultQuestion.Length >= 20)
                                    {
                                        @item.DefaultQuestion.Substring(0, 20)
                                    }
                                    else
                                    {
                                        @item.DefaultQuestion
                                    }
                                </td>

                                <td>
                                    @* 判斷&顯示回答 *@

                                    @if (item.DefaultResponse != null && item.DefaultResponse.Length >= 20)
                                    {
                                        @item.DefaultResponse.Substring(0, 20)
                                    }
                                    else
                                    {
                                        @item.DefaultResponse
                                    }
                                </td>
                                
                                    @*操作*@
                                <td>
                                    <a href="@Url.Action("RobotEdit", "Robot", new { id = item.RobotId })" class="btn  btn-secondary" style="background-color: aliceblue; color: black;">
                                        <i class="fa-regular fa-pen-to-square"> 編輯</i>
                                    </a>

                                    <a href="@Url.Action("RobotDelete", "Robot", new { id = item.RobotId })" class="btn  btn-primary"><i class="fa-solid fa-trash-can">刪除</i></a>
                                </td>

                                
                            </tr>
                        }
                    </tbody>
                </table>


                <div class="d-flex justify-content-between pt-4" style="margin-left: 3px;margin-top: 10px;"> </div>
                    <!-- 換頁區塊開始 --> 
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link previous-page" data-page-type="previous" href="#">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                            </li>
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a class="page-link" id="@("page-" + i)" data-page="@i" data-page-type="number" href="@Url.Action("Robot", new { currentPage = i })">
                                        @i
                                    </a>
                                </li>
                            }             
                            <li class="page-item">
                                <a class="page-link next-page" data-page-type="next" href="#">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- 換頁區塊END -->
                  
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    // 全選功能
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.getElementById("selectAll");
        const restaurantCheckboxes = document.querySelectorAll(".form-check-input");

        selectAllCheckbox.addEventListener("change", function () {
            const isChecked = selectAllCheckbox.checked;
            restaurantCheckboxes.forEach(checkbox => {
                checkbox.checked = isChecked;
            });
        });

        restaurantCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                selectAllCheckbox.checked = Array.from(restaurantCheckboxes).every(cb => cb.checked);
            });
        });
    });

       
        });</script>