@model IEnumerable<FitMatch_BackEnd.Models.Member>

@{
    ViewData["Title"] = "Member";
}

@*<h1>Member</h1>*@



<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">會員管理</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- system Member Navbar start-->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">

            <div class="col">
                <div class="bg-secondary rounded h-100 p-4">

                    <form id="searchForm">


                        <div class="row pr-1">

                            <!--第ㄧ區塊：註冊時間選擇-->
                            @*col-3 d-flex align-items-center // me-4// margin-right: 0px*@

                            @*<div class="col-4 d-flex align-items-center " style="">
                                <span style="margin-left: -20px; text-align: center;">註冊日期:</span>
                                <input class="form-select" style="background-color:#fff;" type="date" name="start" id=""
                                       value="開始時間">
                            </div>

                            <div class=" col-4 d-flex align-items-center ">

                                <span style="margin-left: -20px; text-align: center;">至</span>
                                <input class="form-select" style="background-color:#fff; margin-left: 10px;" type="date"
                                       name="end" id="" value="結束時間">
                            </div>*@



                            <!-- 第二區塊：會員狀態 -->
                            <div class="col-3 d-flex align-items-center">
                                會員狀態:
                                <div class="mx-1 flex-grow-1">
                                    <select class="form-select" id="statusSelect"
                                            aria-label="Floating label select example">
                                        <option selected disabled>請選擇</option>
                                        <option value="2">有效</option>
                                        <option value="1">無效</option>

                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row pr-1">

                            <!-- 第三區塊：關鍵字選項 -->
                            <div class="col-3 d-flex align-items-center">
                                搜尋選項:
                                <div class="mx-1 flex-grow-1">
                                    <select class="form-select" id="citySelect"
                                            aria-label="Floating label select example">
                                        <option selected disabled>請選擇類別</option>
                                        <option value="1">會員姓名</option>
                                        <option value="2">生日</option>
                                        <option value="2">性別</option>
                                        <option value="2">電子信箱</option>

                                    </select>
                                </div>
                            </div>

                            <!-- 第四區塊：關鍵字搜尋 -->
                            <div class="col-4 d-flex">
                                <div class="row align-items-center">
                                    <div class="col-2 p-0 me-1 text-md-end">
                                        搜尋:
                                    </div>
                                    <div class="col-7 p-0">
                                        <div class="mx-1 flex-grow-1">
                                            <input class=" form-control" type="text" placeholder="請輸入關鍵字"
                                                   aria-label="請輸入關鍵字" id="searchInput">
                                        </div>
                                    </div>
                                    <div class="col-1 d-flex align-items-center me-2 p-0">
                                        <a href="">
                                            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                        </a>
                                    </div>
                                    <div class="col-1 d-flex align-items-center p-0">
                                        <button class="btn btn-sm btn-outline-success" type="submit">清空</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>        
        </div>


       <!--會員管理list開始-->
        
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="bg-white text-center  rounded p-4">

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="mb-0 text-dark">會員列表</h5>

                    @*<input type="submit" value="新增會員" class="btn btn-primary  custom-purple">*@


                    <a href="@Url.Action("MemberCreate", "Member" )" class="btn btn-primary  custom-purple">新增會員</a>


                </div>

                


                <div class="table-responsive">

                    @*table 開始*@
                    <table class="table text-start align-middle table-bordered table-hover mb-0 text-center">
                        @*head樣式 開始@
                <thead style="background-color: #74ffba;">

                    <tr class="text-dark">

                        @*上方固定樣式row*@
                        <th scope="col">
                        </th>
                        <th scope="col">會員姓名</th>
                        <th scope="col">生日</th>
                        <th scope="col">性別</th>
                        <th scope="col">電子信箱</th>
                        @*<th scope="col">會員狀態</th>*@
                        <th scope="col">註冊時間</th>
                        <th scope="col">操作</th>
                        </tr>
                        </thead>

                        @*tbody 原先模擬資料樣式 *@
                        @*<tbody>
                    <tr class="data-row">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>吳庭山</td>
                        <td>1980-08-20</td>
                        <td>女</td>
                        <td>ssssft@gmail.com</td>
                        <td>有效會員</td>
                        <td>2021-07-01 15:00</td>
                        <td>
                            <a class="btn btn-sm btn-secondary" href="index_Member_information.html"
                               style="background-color: aliceblue; color: black;">
                                <i class="fa-regular fa-pen-to-square">編輯</i>
                            </a>
                            <a class="btn btn-sm btn-primary" href="">
                                <i class="fa-solid fa-trash-can">刪除</i>
                            </a>
                        </td>
                    </tr>
                </tbody>*@

                        @**tbody 正式抓資料庫資料樣式*@
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td> @**勾選box*@
                                    <td>@Html.DisplayFor(modelItem => item.MemberName)</td> @**姓名*@
                                    <td>@Html.DisplayFor(modelItem => item.Birth)</td> @*生日*@
                                    <td>@Html.DisplayFor(modelItem => item.Gender)</td> @**性別*@
                                    <td>@Html.DisplayFor(modleItem => item.Email)</td> @**信箱*@
                                  

                                    @*（SQL table 要修修）<td>
                                @switch (item.Approved)
                                {
                                    case CApprovalStatus.UnderReview:
                                        <text>審核中</text>
                                        break;
                                    case CApprovalStatus.Approved:
                                        <text>審核通過</text>
                                        break;
                                    case CApprovalStatus.Rejected:
                                        <text>退回審核</text>
                                        break;
                                    default:
                                        <text>未知</text>
                                        break;
                                }
                            </td>  *會員狀態  *@

                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td> @*註冊時間*@



                                    @*操作*@




                                    @*<td>
                                <a href="@Url.ActionLink("修改", "Edit", new { id = item.MemberId })
                                @Html.ActionLink("刪除", "Delete", "Customer", new { id = item.MemberId },
                               new { onclick = "return confirm('確定要刪除嗎?')" })"
                                </a>
                            </td>*@



                                    <td>
                                    <a href="@Url.Action("MemberEdit", "Member", new { id = item.MemberId })" class="btn btn-sm btn-primary">
                                            查看/編輯
                                        </a>

                                        <a href="@Url.Action("MemberDelete", "Member", new { id = item.MemberId })" class="btn btn-sm btn-danger">刪除</a>
                                    </td>



                                    @*
                             ---老師的參考---
                             <td>
                             @Html.ActionLink("修改", "Edit", new { id = item.FId }) |
                             @Html.ActionLink("刪除", "Delete", "Customer", new { id = item.FId },
                             new { onclick = "return confirm('確定要刪除嗎?')" })
                            </td>*@

                                </tr>
                            }
                        </tbody>



                    </table>


                    <div class="d-flex justify-content-between pt-4" style="margin-left: 3px;margin-top: 10px;">
                        <!-- 全選區塊開始 -->
                        <div class="d-flex justify-content-between">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input me-2" type="checkbox" id="selectAll">
                                <label class="form-check-label" for="selectAll">全選</label>
                                <button type="button" class="btn btn-primary mx-lg-2">刪除</button>
                            </div>
                            <!-- Pagination goes here -->
                        </div>
                        <!-- 全選區塊END-->
                        <!-- 換頁區塊開始 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link previous-page" data-page-type="previous" href="#">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" id="page-1" data-page="1" data-page-type="number" href="#">
                                        1
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" id="page-2" data-page="2" data-page-type="number" href="#">
                                        2
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link next-page" data-page-type="next" href="#">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- 換頁區塊END -->
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- Content END -->



<script>// 全選功能
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.getElementById("selectAll");
        const restaurantCheckboxes = document.querySelectorAll(".form-check-input");

        selectAllCheckbox.addEventListener("change", function () {
            const isChecked = selectAllCheckbox.checked;
            restaurantCheckboxes.forEach(checkbox => {
                checkbox.checked = isChecked;
            });
        });

        restaurantCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                selectAllCheckbox.checked = Array.from(restaurantCheckboxes).every(cb => cb.checked);
            });
        });
    });

    // 以下是分頁功能
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.querySelector(".table");
        const pageLinks = document.querySelectorAll(".page-link[data-page-type='number']");
        const prevPageLink = document.querySelector(".previous-page");
        const nextPageLink = document.querySelector(".next-page");

        pageLinks.forEach(link => {
            link.addEventListener("click", function (event) {
                event.preventDefault();

                // 獲取點擊的頁碼
                const page = parseInt(link.textContent);

                // 移除所有活躍狀態
                pageLinks.forEach(link => link.parentElement.classList.remove("active"));

                // 添加活跃状态到当前页码链接
                link.parentElement.classList.add("active");

                // 更新表格内容
                updateTableContent(page);
            });
        });

        prevPageLink.addEventListener("click", function (event) {
            event.preventDefault();

            const activeLink = document.querySelector(".page-item.active .page-link");
            if (activeLink) {
                const currentPage = parseInt(activeLink.textContent);
                if (currentPage > 1) {
                    pageLinks[currentPage - 2].click();
                }
            }
        });

        nextPageLink.addEventListener("click", function (event) {
            event.preventDefault();

            const activeLink = document.querySelector(".page-item.active .page-link");
            if (activeLink) {
                const currentPage = parseInt(activeLink.textContent);
                if (currentPage < pageLinks.length) {
                    pageLinks[currentPage].click();
                }
            }
        });

        function updateTableContent(page) {
            const perPage = 5;
            const startIndex = (page - 1) * perPage;
            const endIndex = startIndex + perPage;

            const rows = table.querySelectorAll("tbody tr");
            rows.forEach((row, index) => {
                if (index >= startIndex && index < endIndex) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        }
    });</script>