@model IEnumerable<FitMatch_BackEnd.Models.Member>

@{
    ViewData["Title"] = "Member";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<style>
    span {
        display: inline-block;
        white-space: nowrap;
    }
</style>

    <!-- 篩選列開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white rounded p-4">
            <form>
                <div class="row">
                    

                    <div class="col-4 d-flex align-items-center me-auto">
                        <div class="col-2 d-flex justify-content-end pe-2">
                            狀態:
                        </div>
                        <div class="col-7 d-flex justify-content-end">
                            <select class="form-select" name="memberStatus" aria-label="狀態">
                                @if (ViewBag.MemberStatus == null)
                                {
                                    <option selected disabled value="">請選擇</option>
                                }
                                else
                                {
                                    <option disabled value="">請選擇</option>
                                }

                                @if (ViewBag.MemberStatus == true)
                                {
                                    <option value="true" selected>有效</option>
                                }
                                else
                                {
                                    <option value="true">有效</option>
                                }

                                @if (ViewBag.MemberStatus == false)
                                {
                                    <option value="false" selected>無效</option>
                                }
                                else
                                {
                                    <option value="false">無效</option>
                                }

                            </select>
                        </div>
                    </div>
                    <form method="get" action="@Url.Action("Member", "Member")">

                        <div class="col-7 d-flex align-items-center justify-content-end">
                            <div class="col-4 d-flex justify-content-end pe-2">
                                搜尋:
                            </div>
                            <div class="col-6  d-flex align-items-center justify-content-end">
                                @* <input @Html.TextBox("txtKeyword") class="form-control" type="text" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字"
                                    id="searchInput">*@
                                @Html.TextBox("txtKeyword", ViewBag.Keyword as string, new { @class = "form-control", @placeholder = "請輸入關鍵字", @aria_label = "請輸入關鍵字", @id = "searchInput" })

                            </div>
                            <div class="col-1 d-flex align-items-center ps-2">
                                <button type="submit" class="btn">
                                    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="col-1">
                        <button class="btn btn-outline-success" type="button" id="clearSearch">
                            清空
                        </button>
                    </div>

                </div>
               
            </form>
        </div>
    </div>

    <!-- 篩選列結束 -->
    <!--會員管理list開始-->


    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center  rounded p-4">

            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">會員列表</h5>

                @*<input type="submit" value="新增會員" class="btn btn-primary  custom-purple">*@


                @*新增會員功能應該是前台 先隱藏一下*@
                @*<a href="@Url.Action("MemberCreate", "Member" )" class="btn btn-primary  custom-purple">新增會員</a>*@


            </div>




            <div class="table-responsive">

                @*table 開始*@
                <table class="table text-start align-middle table-bordered table-hover mb-0 text-center">
                    @*head樣式 開始*@
                    <thead style="background-color: #74ffba;">

                        <tr class="text-dark">

                            @*上方固定樣式row*@
                            @*<th scope="col"></th>*@
                            <th scope="col">會員姓名</th>
                            <th scope="col">生日</th>
                            <th scope="col">性別</th>
                            <th scope="col">電子信箱</th>
                            <th scope="col">會員狀態</th>
                            <th scope="col">註冊時間</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>

                    @*tbody 原先模擬資料樣式 *@
                    @*<tbody>
                            <tr class="data-row">
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>吳庭山</td>
                                <td>1980-08-20</td>
                                <td>女</td>
                                <td>ssssft@gmail.com</td>
                                <td>有效會員</td>
                                <td>2021-07-01 15:00</td>
                                <td>
                                    <a class="btn btn-sm btn-secondary" href="index_Member_information.html"
                                       style="background-color: aliceblue; color: black;">
                                        <i class="fa-regular fa-pen-to-square">編輯</i>
                                    </a>
                                    <a class="btn btn-sm btn-primary" href="">
                                        <i class="fa-solid fa-trash-can">刪除</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>*@

                    @**tbody 正式抓資料庫資料樣式*@
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <!--<td><input class="form-check-input" type="checkbox"></td>--> @**勾選box*@
                                <td>@Html.DisplayFor(modelItem => item.MemberName)</td> @**姓名*@
                                <td>@item.Birth?.ToString("d")</td> @*生日*@

                                <td>
                                    @**性別*@
                                    @if (item.Gender.HasValue)
                                    {
                                        @(item.Gender.Value ? "男" : "女")
                                    }
                                    else
                                    {
                                        @: 未知
                                    }




                                    @*@Html.DisplayFor(modelItem => item.Gender)*@
                                </td>
                                <td>@Html.DisplayFor(modleItem => item.Email)</td> @**信箱*@



                                @*會員狀態  *@
                                <td>
                                    @if (item.Status.HasValue)
                                    {
                                        @(item.Status.Value ? "有效" : "無效")
                                    }
                                    @*@Html.DisplayFor(modelItem => item.Status)*@
                                </td> @**性別*@
                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td> @*註冊時間*@



                                @*操作*@
                                <td>
                                    <a href="@Url.Action("MemberEdit", "Member", new { id = item.MemberId })" class="btn  btn-secondary" style="background-color: aliceblue; color: black;">
                                        <i class="fa-regular fa-pen-to-square"> 編輯</i>
                                    </a>

                                    <a href="@Url.Action("MemberDelete", "Member", new { id = item.MemberId })" class="btn  btn-primary"><i class="fa-solid fa-trash-can">刪除</i></a>
                                </td>



                                @*
                                     ---老師的參考---
                                     <td>
                                     @Html.ActionLink("修改", "Edit", new { id = item.FId }) |
                                     @Html.ActionLink("刪除", "Delete", "Customer", new { id = item.FId },
                                     new { onclick = "return confirm('確定要刪除嗎?')" })
                                    </td>*@

                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-between pt-4" style="margin-left: 3px;margin-top: 10px;">
                    <!-- 換頁區塊開始 -->
                    <div class="d-flex justify-content-between">
                        <div class="form-check d-flex align-items-center">
                        </div>
                        <!-- Pagination goes here -->
                    </div>
                    <!-- 換頁區塊開始 -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link previous-page" data-page-type="previous" href="@Url.Action("Member", new { currentPage = ViewBag.CurrentPage - 1 })">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                            </li>

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a class="page-link" id="@("page-" + i)" data-page="@i" data-page-type="number" href="@Url.Action("Member", new { currentPage = i })">
                                        @i
                                    </a>
                                </li>
                            }

                            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                <a class="page-link next-page" data-page-type="next" href="@Url.Action("Member", new { currentPage = ViewBag.CurrentPage + 1 })">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- 換頁區塊END -->
                </div>

            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '會員管理';
    });

        // 清空功能
    $(document).ready(function () {
        $('#clearSearch').click(function () {
            window.location.href = '@Url.Action("Member", "Member")';
        });
    });
    //狀態
    $(document).ready(function () {
        $('select[name="memberStatus"]').on('change', function () {
            // 直接提交表單進行篩選
            $(this).closest('form').submit();
        });
    });
    //刪除確認功能
    function showDeleteConfirmation(id) {
        Swal.fire({
            title: '確定要刪除這筆資料嗎？',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#2BC17B',
            cancelButtonColor: '##dc3545',
            confirmButtonText: '確定',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Employee/Delete/' + id;
            }
        });

        return false;
    }
    // 刪除成功
    const urlParams = new URLSearchParams(window.location.search);
    const deletedId = urlParams.get('deletedId');
    if (deletedId) {
        Swal.fire({
            title: '刪除成功',
            text: '已成功刪除一筆員工資料。',
            icon: 'success',
            confirmButtonColor: '#3085d6',
            confirmButtonText: '確定'
        });
    }
</script>
