@model List<FitMatch_BackEnd.ViewModel.OrderViewModel>

@{
    ViewData["Title"] = "Details";
}


<style>
    .fixed-image {
        width: 100px;
        /* 寬度固定為 100 像素 */
        height: 100px;
        /* 高度固定為 100 像素 */
        object-fit: cover;
        /* 確保圖片的長寬比保持不變，超出部分將被裁剪 */
    }

    .Orderaddress {
        list-style-type: none;
        padding-left: 0;
        text-align: left;
    }

    span {
        display: inline-block;
        white-space: nowrap;
    }
</style>

    <!-- 管理列表開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                @if (Model.Count > 0)
                {
                    var firstorder = Model[0];
                    <h5 class="mb-0 text-dark">訂單詳細紀錄 ( 訂單編號:@firstorder.OrderId )</h5>
                }
            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <thead style="background-color: #74ffba;">
                        <tr class=" text-dark">
                            <th scope="col">產品編號</th>
                            <th scope="col">產品類別</th>
                            <th scope="col">產品名稱</th>
                            <th scope="col">產品照片</th>
                            <th scope="col">數量</th>
                            <th scope="col">小計</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr class="data-row">
                                <td>@item.ProductId</td>
                                <td>@item.TypeName</td>
                                <td>@item.ProductName</td>
                                <td>
                                <img src="data:image/jpeg;base64, @item.Photo" width="110" height="120" />
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.小計</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>



            <div class="container-fluid pt-4 px-4">
                <div class="rounded-top">
                    <div class="Oredercontainer">
                        <div class="d-flex align-items-end justify-content-start">
                            <ul class="Orderaddress">
                                @if (Model.Count > 0)
                                {
                                    var firstorder = Model[0];
                                    <li class="pb-1">訂單時間:@firstorder.OrderTime</li>
                                    <li class="pb-1">付款時間:@firstorder.PayTime</li>
                                    <li class="pb-1">收件人:@firstorder.MemberName</li>
                                    <li class="pb-1">收件電話:@firstorder.Phone</li>
                                    <li class="pb-1">收件地址:@firstorder.Address</li>
                                    <li>訂單總金額:@firstorder.TotalPrice</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>




<script>
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '訂單管理 / 訂單明細';
    });
</script>