@model List<FitMatch_BackEnd.ViewModel.OrderViewModel>

@{
    ViewData["Title"] = "Details";
}


<style>
    .fixed-image {
        width: 100px;
        /* 寬度固定為 100 像素 */
        height: 100px;
        /* 高度固定為 100 像素 */
        object-fit: cover;
        /* 確保圖片的長寬比保持不變，超出部分將被裁剪 */
    }

    .Orderaddress {
        list-style-type: none;
        padding-left: 0;
        text-align: left;
    }

    span {
        display: inline-block;
        white-space: nowrap;
    }
</style>

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">

        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">訂單紀錄</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="~/img/員工/02627af6-2503-42cc-8ea7-5a69773dadd6.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">揚庭</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- 篩選列開始 -->
    @* <div class="container-fluid pt-4 px-4">
    <nav class="navbar navbar-expand-lg bg-white rounded">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex align-items-center">
    <div class="col-3 d-flex align-items-center" style="margin-left: 20px;">
    產品類別:
    <div class="ms-2 me-2 flex-grow-1">
    <select class="form-select" id="citySelect"
    aria-label="Floating label select example">
    <option selected disabled hidden>請選擇類別</option>
    <option value="1">雞胸肉</option>
    <option value="2">乳清蛋白</option>
    <option value="3">保健品</option>
    </select>
    </div>
    </div>


    <div class="col-4 d-flex align-items-center" style="margin-left: 765px;">
    搜尋:
    <div class=" ms-2 me-2 flex-grow-1">
    <input class=" form-control" type="text" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字"
    id="searchInput">
    </div>
    <a href="">
    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </a>
    <button class="btn btn-outline-success " style="margin-top: 0px; margin-left: 10px;"
    type="submit">
    清空
    </button>
    </div>
    <br>
    <br>
    <br>
    </div>
    </div>
    </nav>
    </div>
    *@
    <!-- 篩選列結束 -->
    <!-- 管理列表開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                @if (Model.Count > 0)
                {
                    var firstorder = Model[0];
                    <h5 class="mb-0 text-dark">訂單詳細紀錄(訂單編號:@firstorder.OrderId)</h5>
                }
            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <thead style="background-color: #74ffba;">
                        <tr class=" text-dark">
                            <th scope="col">產品編號</th>
                            <th scope="col">產品類別</th>
                            <th scope="col">產品名稱</th>
                            <th scope="col">產品照片</th>
                            <th scope="col">數量</th>
                            <th scope="col">小計</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr class="data-row">
                                <td>@item.ProductId</td>
                                <td>@item.TypeName</td>
                                <td>@item.ProductName</td>
                                <td>
                                    <img src="~/img/商城/@item.Photo" width="110" height="120" />
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.小計</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>



            <div class="container-fluid pt-4 px-4">
                <div class="rounded-top">
                    <div class="Oredercontainer">
                        <div class="d-flex align-items-end justify-content-start">
                            <ul class="Orderaddress">
                                @if (Model.Count > 0)
                                {
                                    var firstorder = Model[0];
                                    <li class="pb-1">訂單時間:@firstorder.OrderTime</li>
                                    <li class="pb-1">付款時間:@firstorder.PayTime</li>
                                    <li class="pb-1">收件人:@firstorder.MemberName</li>
                                    <li class="pb-1">收件電話:@firstorder.Phone</li>
                                    <li class="pb-1">收件地址:@firstorder.Address</li>
                                    <li>訂單總金額:@firstorder.TotalPrice</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




