@model List<FitMatch_BackEnd.ViewModel.MatchViewModel>

@{
    ViewData["Title"] = "List";
}
    <style>
        /* 編輯預約樣式 */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 500px;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-align: left;
        }

        .close-btn {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            font-size: 25px;
        }

        .modal form {
            display: grid;
            gap: 10px;
        }

        .modal button {
            margin: 0 auto;
        }

        .modal .form-x:focus {
            background-color: #e9ecef;
            opacity: 1;
            border: 1px solid #000;
        }

        .modal .row {
            margin-bottom: 15px;
        }

        .modal label {
            margin-bottom: 0;
            /* Reset Bootstrap's margin-bottom on labels */
        }

        span {
            display: inline-block;
            white-space: nowrap;
        }

    /* 自定义的类选择器 */
    .custom-select {
        border-radius: 5px;
        color: #696969;
        padding: 5px;
    }

    .custom-input {
        border-radius: 5px;
        color: #696969;
        padding: 5px;
    }

    .custom-select option {
        color: #696969; /* 修改选项的字体颜色 */
    }
    </style>
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">預約管理</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- 篩選列開始 -->
    <div class="container-fluid pt-4 px-4">
        <nav class="navbar navbar-expand-lg bg-white rounded">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex align-items-center">
                    <form method="get" action="@Url.Action("List", "Match")">
                        <!-- Other search fields -->

                        <div class="d-flex align-items-center me-4" style="margin-left: 25px;">
                            <span style="margin-right: 10px; text-align: center;">課程日期:</span>
                            <input class="form-select" style="background-color:#fff;" type="date" name="start" id=""
                                   value="課程日期">
                            <span style="text-align: center;">至</span>
                            <input class="form-select" style="background-color:#fff; margin-left: 10px;" type="date"
                                   name="end" id="" value="結束時間">
                            <button type="submit" class="btn btn-outline-success " style="height: 35px; width: 150px; margin-left: 7px">搜索</button>
                        </div>

                    </form>

                    <div class="col-4 d-flex align-items-center ms-4">
                        <span style="margin-right: 10px; text-align: center;">課程狀態:</span>
                        <select id="CourseStatusFilter" class="form-select" style="background-color: #fff;" aria-label="課程狀態">
                            <option selected disabled hidden>請選擇</option>
                            <option value="進行中">進行中</option>
                            <option value="已結束">已結束</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-3 d-flex align-items-center ms-4" style="margin-right: 25px;">
                <form class="custom-select" id="searchForm" method="get" action="List">
                    <select name="searchField" style="color:#696969">
                        <option value="ClassName">課程名稱</option>
                        <option value="MemberName">會員名稱</option>
                        <option value="TrainerName">教練名稱</option>
                        <option value="GymName">健身房名稱</option>
                    </select>
                    <input id="searchInput" type="text" name="searchKeyword">
                </form>
            </div>
            <br>
            <br>
            <br>
        </nav>
    </div>



    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">預約列表</h5>

            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <!-- 表頭開始 -->
                    <thead style="background-color: #74ffba;">
                        <tr class="text-dark">
                            <!-- <th scope="col"></th> -->
                            <th scope="col">預約編號</th>
                            <th scope="col">課程名稱</th>
                            <th scope="col">教練</th>
                            <th scope="col">會員</th>
                            <th scope="col">場館</th>
                            <th scope="col">課程狀態</th>
                            <th scope="col">建立時間</th>
                            <th scope="col">開始時間</th>
                            <th scope="col">結束時間</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <!-- 表頭結束 -->
                    <!-- 表身開始 -->
                    <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="data-row">
                                <td>@item.ClassId</td>
                                <td>@item.ClassName</td>
                                <td>@item.TrainerName</td>
                                <td>@item.MemberName</td>
                                <td>@item.GymName</td>
                                <td>@item.CourseStatus</td>
                                <td>@item.BuildTime</td>
                                <td>@item.StartTime</td>
                                <td>@item.EndTime</td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <a asp-action="Edit" asp-route-id="@item.ClassId" class="btn btn-sm btn-secondary me-2y" style="background-color: aliceblue; color: black;">
                                            <i class="fa-regular fa-pen-to-square"> 編輯</i>
                                        </a>

                                        <a asp-action="Delete" asp-route-id="@item.ClassId" class="btn btn-sm btn-danger me-2"
                                           onclick="return confirm('確定要刪除這個項目嗎？');">
                                            <i class="fa-solid fa-trash-can"></i> 刪除
                                        </a>
                                        
                                    </div>
                                </td>
                            </tr>
                            }

                </table>
            </div>

            <div class="d-flex justify-content-end pt-4">

                <!-- 換頁區塊開始 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link previous-page" data-page-type="previous" href="#">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" id="page-1" data-page="1" data-page-type="number" href="#">
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" id="page-2" data-page="2"
                               data-page-type="number" href="#">
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link next-page" data-page-type="next" href="#">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- 換頁區塊END -->
            </div>
            <!-- 最下面END -->
        </div>

    </div>
    <!-- 管理列表結束 -->




</div>
<script>
    // 在輸入框上監聽 "keydown" 事件
    document.getElementById("searchInput").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // 防止預設行為（提交表單）

            // 提交表單
            document.getElementById("searchForm").submit();
        }
    });
    document.getElementById("CourseStatusFilter").addEventListener("change", function () {
        var selectedStatus = this.value;
        // 跳轉到列表頁面，將選擇的課程狀態作為參數傳遞
        window.location.href = "/Match/List?CourseStatus=" + selectedStatus;
    });

</script>
<!-- Content End -->
<!-- Back to Top -->
<!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->


