@model List<FitMatch_BackEnd.ViewModel.MatchViewModel>

@{
    ViewData["Title"] = "List";
}
    <style>
        /* 編輯預約樣式 */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 500px;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-align: left;
        }

        .close-btn {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            font-size: 25px;
        }

        .modal form {
            display: grid;
            gap: 10px;
        }

        .modal button {
            margin: 0 auto;
        }

        .modal .form-x:focus {
            background-color: #e9ecef;
            opacity: 1;
            border: 1px solid #000;
        }

        .modal .row {
            margin-bottom: 15px;
        }

        .modal label {
            margin-bottom: 0;
            /* Reset Bootstrap's margin-bottom on labels */
        }

        span {
            display: inline-block;
            white-space: nowrap;
        }
    </style>
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">預約管理</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                 style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- 篩選列開始 -->
    <div class="container-fluid pt-4 px-4">
        <nav class="navbar navbar-expand-lg bg-white rounded">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center me-4" style="margin-left: 25px;">
                        <span style="margin-right: 10px; text-align: center;">課程日期:</span>
                        <input class="form-select" style="background-color:#fff;" type="date" name="start" id=""
                               value="課程日期">
                    </div>

                    <div class="d-flex align-items-center me-4">
                        <span style="margin-left: -20px; text-align: center;">至</span>
                        <input class="form-select" style="background-color:#fff; margin-left: 10px;" type="date"
                               name="end" id="" value="結束時間">
                    </div>

                    <div class="col-4 d-flex align-items-center ms-4">
                        <span style="margin-right: 10px; text-align: center;">課程狀態:</span>
                        <select class="form-select" style="background-color: #fff;" aria-label="課程狀態">
                            <option selected disabled hidden>請選擇</option>
                            <option value="t1">進行中</option>
                            <option value="t2">已結束</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-3 d-flex align-items-center ms-4" style="margin-right: 25px;">
                <form method="get" action="List">
                    <select name="searchField">
                        <option value="ClassName">Class Name</option>
                        <option value="MemberName">Member Name</option>
                        <option value="TrainerName">Trainer Name</option>
                        <option value="GymName">Gym Name</option>
                    </select>
                    <input type="text" name="searchKeyword">
                    <button type="submit">Search</button>
                </form>
            </div>
            <br>
            <br>
            <br>
        </nav>
    </div>


    <!-- 篩選列開始 -->
    <!-- <div class="container-fluid pt-4 px-4">
        <div class="row g-4">

            <div class="col">
                <div class="bg-secondary rounded h-100 p-4">
                    <form id="searchForm">
                        <div class="row"> -->
    <!-- 第一區塊 -->
    <!-- <div class="col-4 d-flex align-items-center">
                                <div class="row d-flex align-items-center">
                                    <div class="col-2">
                                        課程日期:
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" id="startDate"
                                            placeholder="開始時間" autocomplete="off">
                                    </div>
                                    <div class="col-1 text-center">
                                        至
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" id="endDate" placeholder="結束時間"
                                            autocomplete="off">
                                    </div>
                                </div>
                            </div> -->
    <!-- 第二區塊 -->
    <!-- <div class="col-3 d-flex align-items-center">
                                課程狀態:
                                <div class="ms-2 me-2 flex-grow-1">
                                    <select class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example">
                                        <option selected disabled>請選擇</option>
                                        <option value="1">進行中</option>
                                        <option value="2">已結束</option>
                                    </select>
                                </div>
                            </div> -->
    <!-- 第三區塊 -->
    <!-- <div class="col-5 d-flex align-items-center">
                                搜尋
                                <div class="ms-2 me-2 flex-grow-1">
                                    <input class="form-control" type="text" placeholder="請輸入關鍵字"
                                        aria-label="請輸入關鍵字" id="inputname">
                                </div>
                                <a href="">
                                    <i class="fa-solid fa-magnifying-glass fa-xl"></i></a>
                                <button class="btn btn-outline-light ms-3" type="reset">清空</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 篩選列結束 -->
    <!-- 管理列表開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">預約列表</h5>

            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <!-- 表頭開始 -->
                    <thead style="background-color: #74ffba;">
                        <tr class="text-dark">
                            <!-- <th scope="col"></th> -->
                            <th scope="col">預約編號</th>
                            <th scope="col">課程名稱</th>
                            <th scope="col">教練</th>
                            <th scope="col">會員</th>
                            <th scope="col">場館</th>
                            <th scope="col">課程狀態</th>
                            <th scope="col">建立時間</th>
                            <th scope="col">開始時間</th>
                            <th scope="col">結束時間</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <!-- 表頭結束 -->
                    <!-- 表身開始 -->
                    <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="data-row">
                                <td>@item.ClassId</td>
                                <td>@item.ClassName</td>
                                <td>@item.TrainerName</td>
                                <td>@item.MemberName</td>
                                <td>@item.GymName</td>
                                <td>@item.CourseStatus</td>
                                <td>@item.BuildTime</td>
                                <td>@item.StartTime</td>
                                <td>@item.EndTime</td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-sm btn-secondary me-2" onclick="showModal()"
                                           style="background-color: aliceblue; color: black;">
                                            <i class="fa-regular fa-pen-to-square">編輯</i>
                                        </a>

                                        <a class="btn btn-sm btn-primary" href="">
                                            <i class="fa-solid fa-trash-can">刪除</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }

                </table>
            </div>

            <div class="d-flex justify-content-end pt-4">

                <!-- 換頁區塊開始 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link previous-page" data-page-type="previous" href="#">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" id="page-1" data-page="1" data-page-type="number" href="#">
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" id="page-2" data-page="2"
                               data-page-type="number" href="#">
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link next-page" data-page-type="next" href="#">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- 換頁區塊END -->
            </div>
            <!-- 最下面END -->
        </div>

    </div>
    <!-- 管理列表結束 -->




</div>
<!-- Content End -->
<!-- Back to Top -->
<!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->


